#Options All -Indexes

#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteRule ^([a-z\-]+)$ index.php? [NC]
#RewriteRule ^([a-z\-]+)$ /app/views/content/$1.php [NC,L]
